<% if @items.length > 0 %>
    <h1 class="text-white">Notícias favoritas</h1>
<% else %>
    <h1 class="text-white">Nenhuma notícia favoritada</h1>
<% end %>

<% @items.each do |item| %>
    <%= render partial: "news/news_card", locals: { item: item } %>
<% end %>