<% if @itemsOrdered.length > 0 %>
    <h1>Notícias recentes mais acessadas <%= @keyword %></h1>
<% else %>
    <h1>Nenhuma notícia encontrada</h1>
<% end %>

<% @itemsOrdered.each do |item| %>
    <%= render partial: "news_card", locals: { item: item } %>
<% end %>
