<% if @items.length > 0 %>
    <h1>Notícias à respeito de <%= @keyword %></h1>
<% else %>
    <h1>Nenhuma notícia encontrada</h1>
<% end %>

<% @items.each do |item| %>
    <%= render partial: "news_card", locals: { item: item } %>
<% end %>
