	<!DOCTYPE html>
<html lang="pt">
<style>
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #533fde, #273cb9, #003593, #002b6c, #001f45, #042a4a, #11344d, #213e50, #2a697f, #3097ab, #3ec8d2, #5ffbf1);
    font-family: Oswald;
}

.containerA{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.containerA .cardA{
    position: relative;
    cursor: pointer;
}

.containerA .cardA .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.containerA .cardA .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.containerA .cardA:hover .face.face1{
    background-image: linear-gradient(to right top, #533fde, #273cb9, #003593, #002b6c, #001f45, #042a4a, #11344d, #213e50, #2a697f, #3097ab, #3ec8d2, #5ffbf1);
    transform: translateY(0);
}

.containerA .cardA .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.containerA .cardA:hover .face.face1 .content{
    opacity: 1;
}

.containerA .cardA .face.face1 .content img{
    max-width: 100px;
}

.containerA .cardA .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.containerA .cardA .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.containerA .cardA:hover .face.face2{
    transform: translateY(0);
}

.containerA .cardA .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.containerA .cardA .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.containerA .cardA .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Whispr</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="containerA">
        <div class="cardA">
            <div class="face face1">
                <div class="content">
                    <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                    <h3>Design</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
                    Website feito para oferecer uma interface bem simples e objetiva.
                    </p>
                </div>
            </div>
        </div>
        <div class="cardA">
            <div class="face face1">
                <div class="content">
                    <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                    <h3>RSS</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
                    Escolhemos os melhores sites de notícias baseadas em opiniões profissionais e opiniões dos próprios usuários.
                    </p>
                </div>
            </div>
        </div>
        <div class="cardA">
            <div class="face face1">
                <div class="content">
                    <img src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                    <h3>Sobre</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>
                    Aplicativo criado com a intenção de ser um agregador de notícias, trazendo notícias selecionadas pelo usuário ou notícias relevantes.

                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
